body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #6C757D;
}
header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 36px;
}

/* Ajoutez ceci à votre fichier CSS */

.book-image {
    max-width: 100px;
    height: auto; /* Cela permet de conserver les proportions de l'image */
    display: block; /* Assurez-vous que l'image est affichée comme un bloc */
    margin: auto; /* Centrez l'image horizontalement */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
a {
    color: #007BFF;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #007BFF;
    color: white; 
}

/* Styles pour les boutons */
button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styles pour les formulaires */
form {
    margin-top: 20px;
}

/* Styles pour les titres */
h2 {
    font-size: 24px;
    margin: 10px 0;
}

/* Styles pour les messages d'erreur */
.error-message {
    color: #FF0000;
}

/* Styles pour les liens */
a {
    text-decoration: none;
    font-weight: bold;
}

/* Styles pour les tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #6C757D;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.wrapper {
    display: flex;
}

#sidebar {
    background-color: #333;
    color: white;
    width: 200px;
    padding: 20px;
    height: 85vh;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#content {
    flex-grow: 1;
    padding: 20px;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: sticky;
}
/* ... Styles précédents ... */

#content {
    flex-grow: 1;
    padding: 20px;
}



.statistic {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.statistic h3 {
    margin: 0;
}

.statistic p {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

/* Ajoutez ces styles dans votre fichier css/style.css */

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

p {

    margin-top: 10px;
    text-align: center;
}


